html, body
{
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	width: 100%;
	height: auto;
}

body
{
	height: 10000px;
	transition: all 500ms ease;
	background: #00010b;
}

h1
{
	position: relative;
	text-align: center;
	font: 90px 'Concert One';
	font-weight: bold;
	top: 25vh;
	color: #000c767a;
	filter: hue-rotate(1085deg);
	-webkit-background-clip: text;
	background-image: url(https://i.gifer.com/NvN.gif);
	background-position: center;
	background-attachment: fixed;
	background-size: cover;
	background-repeat: no-repeat;
}